# Arquivos de compilação do Java
*.class
out/

# Arquivos de configuração do IntelliJ
.idea/
*.iml

# Arquivos de build do Maven/Gradle
target/
build/
.gradle/

# Logs e arquivos temporários
*.log
hs_err_pid*